<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>listes des Articles</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    </head>
<body>
<h1>Liste des Articles</h1>
<a href="/articles/new">Ajouter un article</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Titre</th>
    </tr>
    <tr th:each="article :${articles}">
        <td th:text="${article.id}"></td>
        <td th:text="${article.title}"></td>
    </tr>
</table>
<a href="/">Retourner</a>
</body>
</html>